<!DOCTYPE HTML>
<html ng-app="todoApp" ng-controller="todoList">
<head>     
	<link href="https://fonts.googleapis.com/css?family=Acme|Exo+2|Galada|Wendy+One|Eater|Gloria+Hallelujah|Permanent+Marker|Amatic+SC|Spirax|Aldrich|Cabin+Sketch|IM+Fell+English+SC|Orbitron|Philosopher|Special+Elite|Indie+Flower|Shrikhand|Shadows+Into+Light|Pacifico|Gloria+Hallelujah|Righteous|Knewave|Concert+One" rel="stylesheet">
	<link href="style.css" rel="stylesheet">    
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />    
	<script src="js/angular.min.js"></script>
</head>

<body class="{{curTheme.name}}" style="background-repeat: no-repeat;background-size: cover;">
	<aside id="rem">        
		<button type="click" class="butt" ng-click="remSelected()">clear done</button>        
		<button type="click" class="butt" ng-click="remAll()">clear all</button>
		<div id="dropdown">
			<button class="butt" id="dropbutt" ng-click="showThemes()">Themes
			  <i class="fa fa-filter" style="color:red"></i>
			</button>
			<div class="dropstuff-{{dispTheme}}">     
				<button class="theme butt {{theme.sel}}" ng-repeat="theme in themes" ng-click="setTheme(theme.pos)">{{theme.name}}</button>
			</div>
		</div>        
	</aside>        
	<h2>Shopping List</h2>                                           
		<span id="itm" class="butt">Items: {{todos.length}}</span>
		<ul>        
			<li ng-repeat="todo in todos">
			<label class="checkbox">
			<div class="line-{{todo.done}}">
					<input type="checkbox" ng-model="todo.done">
					<span class="done-{{todo.done}}">{{todo.text}}</span>
				<label class="edit icon" ng-click="editTodo(todo.pos)">
					<i class="fa fa-edit"></i>
				</label>
				<label class="del icon" ng-click="delTodo(todo.pos)" style="color:red;">
					<i class="fa fa-close"></i>
				</label>
			</div>
			</label>
			</li>
		</ul>
		<form id="sub" ng-submit="addTodo()">
			<input id="txt" type="text" ng-model="todoText" size="30" placeholder="Add new item here">
			<input class="butt" type="submit" value="Add">
		</form>
	<script>
		var app = angular.module('todoApp', []);
	
		app.controller('todoList', function($scope) {
	
		$scope.todos = [ ];
		$scope.dispTheme = false;
		$scope.themes = [
			{name:"space", pos:0, sel:''},
			{name:"wood", pos:1, sel:''},
			{name:"brick", pos:2, sel:''},
			{name:"fuego", pos:3, sel:''},
			{name:"nature", pos:4, sel:''},
			{name:"painted", pos:5, sel:''},
			{name:"waves", pos:6, sel:''},
			{name:"sky", pos:7, sel:''},
			{name:"urban", pos:8, sel:''},
			{name:"desert", pos:9, sel:''}
		];
		$scope.curTheme = $scope.themes[Math.floor(Math.random()*$scope.themes.length)];
		$scope.todoText = "";

		$scope.showThemes = function() {
			if (!$scope.dispTheme){
				$scope.dispTheme = true;
			}
			else {$scope.dispTheme = false;}
		}

		$scope.changeTheme = function() {
			$scope.themes[$scope.curTheme.pos].sel = ''
			$scope.curTheme = $scope.themes[($scope.curTheme.pos + 1) % $scope.themes.length];
		}

		$scope.setTheme = function(x) {
			$scope.themes[$scope.curTheme.pos].sel = ''
			$scope.curTheme = $scope.themes[x];
			$scope.themes[x].sel = 'y';
			$scope.dispTheme = false;
		}

		$scope.addTodo = function() {
			if($scope.todoText !== '') {
				$scope.todos.push({text:$scope.todoText, done:false, pos:$scope.todos.length});
				$scope.todoText = '';                
			}
		}

		$scope.editTodo = function(x) {
			val=prompt("Edit Item",$scope.todos[x].text);
			if ((val != "") &&(val != null)) {
				$scope.todos[x].text=val;
			}
		} 

		$scope.delTodo = function(x) {
			var yes=true;
			if ($scope.todos[x].done == false) {
				yes=confirm("Delete incomplete item?")         
			}
			if (yes) {
				$scope.todos.splice(x,1);
			}
		}

		$scope.remSelected = function() {
			for (var y = $scope.todos.length -1; y>=0; y--) {
				if ($scope.todos[y].done == true){
					$scope.todos.splice(y,1);
				}
			}
		}

		$scope.remAll = function() {
			if ($scope.todos.length > 0) {
				var conf=confirm("Really delete all items?");
			}
			if (conf) {
				$scope.todos = [];
			}
		}

	});

	</script>    
</body>
</html>
